.wrapper {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 3%;
}

.box {
    padding: 30px 50px 30px 30px;
    width: 55vw;
    background: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
}

.header {
    text-align: center;
}

.titulo {
    color: #c94c75;
}

.body-box {
    margin-top: 20px;
}

.btn-purple {
    background-color: #6558f5;
    color: white;
    height: 2%;
}

.btn-purple:hover {
    background-color: #7a6ff3;
    color: white;
}

label {
    color: #252525;
    margin-right: 24px
}

@media (max-width: 1000px) {
    .box {
        width: 80vw;
    }
}

.form-label {
    display: flex;
    align-items: center;
    justify-content: left;
}

#id_sexo {
    display: flex;
    flex-direction: row;
}

.group {
    margin-top: 16px;
}

.btn-send {
    display: flex;
    justify-content: right;
    margin-top: 16px;
}

.labelzinha {
    width: 20%;
    text-align: right;
}

#id_cpf, #id_data_nascimento {
    width: 50%;
}

.gp {
    padding-right: 18%;
}

.gp-u {
    padding-left: 4%;
}

.cursos {
    margin-left: 12%;
    margin-top: 8px;
}