{% extends "base.html" %}
{% load static %}

{% block 'title' %}
ETAL | Nova inscrição
{% endblock%}

{% block 'head' %}
<link href="{% static 'css/nova_inscricao.css' %}" rel="stylesheet">
{% endblock%}

{% block 'body' %}

<div class="wrapper">
    <div class="box">
        <div class="header">
            <h5 class="titulo">Inscrição minicurso - ETAL</h5>
        </div>

        {% if messages %}
        {% for message in messages %}
        <section class="alert {{message.tags}}">
            {{message}}
        </section>
        {% endfor %}
        {% endif %}

        <div class="body-box">
            <form action="{% url 'nova_inscricao' %}" method="POST"> {% csrf_token %}
                <div class="col">
                    <div class="group">
                        <div class="col-md  form-label">
                            <div class="labelzinha">
                                <label>Nome</label>
                            </div>
                            {{ form.nome }}
                        </div>
                    </div>
                    <div class="group gp">
                        <div class="col-md form-label">
                            <div class="labelzinha">
                                <label>CPF</label>
                            </div>
                            {{ form.cpf }}
                        </div>
                    </div>
                    <div class="group gp">
                        <div class="col-md form-label">
                            <div class="labelzinha">
                                <label>Nascimento</label>
                            </div>
                            {{ form.data_nascimento }}
                        </div>
                    </div>
                    <div class="group">
                        <div class="col-md form-label">
                            <div class="labelzinha">
                                <label>Email</label>
                            </div>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="group">
                        <div class="col-md form-label">
                            <div class="labelzinha">
                                <label>Endereço</label>
                            </div>
                            {{ form.endereco }}
                        </div>
                    </div>
                    <div class="group gp">
                        <div class="col-md form-label">
                            <div class="labelzinha">
                                <label>Sexo</label>
                            </div>
                            {{ form.sexo }}
                        </div>
                    </div>
                    <div class="group">
                        <div class="col-md form-label">
                            <div class="labelzinha">
                                <label>Curso</label>
                            </div>
                            {{ form.tecnico }}
                        </div>
                    </div>
                    <div class="group gp-u">
                        <div class="col-md">
                            <div class="labelzinha">
                                <label>Minucursos:</label>
                            </div>
                            <div class="cursos form-check">
                                {{ form.minicursos }}
                            </div>

                        </div>
                    </div>
                    <div class="btn-send">
                        <input type="submit" value="Enviar" class="btn btn-purple">
                    </div>

            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/nova_inscricao.js' %}"></script>
{% endblock%}